<div class="card">
    <div [ngClass]="getTitleStyle()" style="margin-bottom: 0px;">
        <div *ngIf="floatPosition=='up'">
            <h5 style="cursor: pointer;" (click)="toggle()" *ngIf="floatPosition=='up'"><i [ngClass]="getCaretType(0)" style="padding-right: 10px;"></i>{{ titleName }}</h5>
        </div>
        <div *ngIf="floatPosition=='left'">
            <div *ngIf="!isCollapse">
                <h5 style="cursor: pointer;" (click)="toggle()"><i [ngClass]="getCaretType(1)" style="padding-right: 10px;"></i>{{ titleName }}</h5>
            </div>
            <div *ngIf="isCollapse" style="cursor: pointer;" (click)="toggle()">
                <i class="fa fa-th-list"></i>
                <!--<h5 style="cursor: pointer;" (click)="toggle()" *ngIf="!isCollapse"><i [ngClass]="getCaretType(1)" style="padding-right: 10px;"></i>{{ titleName }}</h5>-->
            </div>            
        </div>
    </div>
    <div class="card-body" *ngIf="!isCollapse">
        <ng-container *ngTemplateOutlet="body">
        </ng-container>
    </div>
</div>