<div class="col-lg-12">
  <section class="box ">

    <div class="content-body">

        <div *ngIf="type === 'emp'">
          <table class="table table-hover no-wrap">
            <tbody>
            <tr class="unread" *ngFor="let l of lists" >
              <td class="hidden-xs-down" (click)="onRowSelectEmployee(l)" style="cursor: pointer">
                <img [src]="getEmployeeImg(l.photoName)" alt="" width="20"
                     class="img-circle"/>
              </td>
              <td class="max-texts" (click)="onRowSelectEmployee(l)" style="cursor: pointer">
                <span>{{l.firstName}} {{l.lastName}}</span>
              </td>
              <td class="text-right" (click)="onRowSelectEmployee(l)" style="cursor: pointer">Occupation: {{l.jobTitle}}</td>
            </tr>
            </tbody>
          </table>
        </div>
          <div  *ngIf="type === 'physician'">
                    <table class="table table-hover no-wrap">
                      <tbody>
                      <tr class="unread" *ngFor="let l of lists" >
                        <td class="hidden-xs-down" (click)="onRowSelectPhysician(l)" style="cursor: pointer">
                          <img [src]="getPhysicianImg(l.photoName)" alt="" width="20"
                               class="img-circle"/>
                        </td>
                        <td class="max-texts" (click)="onRowSelectPhysician(l)" style="cursor: pointer">
                          <span>{{l.firstName}} {{l.lastName}}</span>
                        </td>
                        <td class="text-right" (click)="onRowSelectPhysician(l)" style="cursor: pointer">Occupation: {{l.jobTitle}}</td>
                      </tr>
                      </tbody>
                    </table>
       
          </div>


          <div *ngIf="type === 'vendor'">
                  <table class="table table-hover no-wrap">
                    <tbody>
                    <tr class="unread" *ngFor="let l of lists" >
                      <td class="hidden-xs-down" (click)="onRowSelectVendor(l)" style="cursor: pointer">
                        <img [src]="getVendorImg(l.photoName)" alt="" width="20"
                             class="img-circle"/>
                      </td>
                      <td class="max-texts" (click)="onRowSelectVendor(l)" style="cursor: pointer">
                        <span>{{l.firstName}} {{l.lastName}}</span>
                      </td>
                      <td class="text-right" (click)="onRowSelectVendor(l)" style="cursor: pointer">Occupation: {{l.jobTitle}}</td>
                    </tr>
                    </tbody>
                  </table>
            </div>

            <div *ngIf="type === 'patient'">
                      <table class="table table-hover no-wrap">
                        <tbody>
                        <tr class="unread" *ngFor="let l of lists" >
                          <td class="hidden-xs-down" (click)="onRowSelectPatient(l)" style="cursor: pointer">
                            <img [src]="getPatientImg(l.photoName)" alt="" width="20"
                                 class="img-circle"/>
                          </td>
                          <td class="max-texts" (click)="onRowSelectPatient(l)" style="cursor: pointer">
                            <span>{{l.firstName}} {{l.lastName}}</span>
                          </td>
                          <td class="text-right" (click)="onRowSelectPatient(l)" style="cursor: pointer">Occupation: {{l.jobTitle}}</td>
                        </tr>
                        </tbody>
                      </table>
            </div>

    </div>
  </section>

</div>
