<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Demographics Information" [titleClassName]="localStore.getThemeBackground()">
                <ng-template #body>
                    <physician-addstep1 (step1Status)="handleStep1($event)" [isNewRecord]="false" [updateStatus]="saveStatus1"></physician-addstep1>
                </ng-template>
            </ho2-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Contact Information" [titleClassName]="localStore.getThemeBackground()">
                <ng-template #body>
                    <physician-addstep2 (step2Status)="handleStep2($event)" [isNewRecord]="false" [updateStatus]="saveStatus2"></physician-addstep2>
                </ng-template>
            </ho2-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Practice Areas" [titleClassName]="localStore.getThemeBackground()">
                <ng-template #body>
                    <physician-addstep3 (step3Status)="handleStep3($event)" [isNewRecord]="false" [updateStatus]="saveStatus3"></physician-addstep3>
                </ng-template>
            </ho2-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Profile Information" [titleClassName]="localStore.getThemeBackground()">
                <ng-template #body>
                    <physician-addstep4 (step4Status)="handleStep4($event)" [isNewRecord]="false" [updateStatus]="saveStatus4"></physician-addstep4>
                </ng-template>
            </ho2-accordion>
        </div>
    </div>
</div>