<div class="card">
    <div [ngClass]="'card-title ' + localStore.getThemeBackground()">
        <h5>{{ getTitle() }}</h5>
    </div>
    <div class="card-body">
        <div class="container">
            <form novalidate="" #f2="ngForm" (ngSubmit)="f2.form.valid ? saveUpdatePermission(): ''" class="m-t-40 tab-wizard wizard-circle wizard clearfix" role="application" id="formcompmain">
                <div class="row">
                    <div class="col-md-3 app-ho2-form-label">
                    </div>
                    <div *ngIf="isNewPermission==false" class="col-md-8 app-ho2-edit-right">
                        <ho2edithelper activeAction="0" showDelete="true" (actionSelected)="updateAgencyInfo($event)" [saveStatus]="saveStatus2"></ho2edithelper>
                    </div>
                    <div *ngIf="isNewPermission==true" class="col-md-8 app-ho2-edit-right">
                        <ho2edithelper activeAction="4" (actionSelected)="updateAgencyInfo($event)" [saveStatus]="saveStatus2"></ho2edithelper>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 app-ho2-form-label">
                        <label for="deptname" class="app-ho2-form-label">Asset:</label>
                    </div>
                    <div class="col-md-7 floating-labels">
                        <div *ngIf="isNewPermission">
                            <select class="form-control" name='assetId' id='assetId' [(ngModel)]="appPermission.assetId" required #assetId="ngModel">
                                <option value=''>Select an asset</option>
                                <option *ngFor="let asset of appAssets2" [value]="asset.value">{{ asset.label }}</option>
                            </select>
                            <span *ngIf="f2.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': assetId.valid, 'glyphicon-remove' : !assetId.valid}" aria-hidden="true"></span>
                            <div *ngIf="(f2.submitted && !assetId.valid) || (assetId.invalid && (assetId.dirty || assetId.touched))" class="text-danger">
                                <div *ngIf="assetId.errors.required" class="app-form-validation-error">
                                    Select an asset
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isNewPermission">
                            <p class="col-md-12 app-ho2-mt-label">{{ getAssetNameById(appPermission.assetId) }}</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-md-3 app-ho2-form-label" style="padding-top: 0px;">
                        <label for="description" class="app-ho2-form-label">Allow View:</label>
                    </div>
                    <div class="col-md-7 floating-labels">
                        <div *ngIf="(isEditMode || isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.viewAsset" name="viewAsset"></p-toggleButton>
                        </div>
                        <div *ngIf="(!isEditMode && !isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.viewAsset" [disabled]="!isEditMode" name="viewAsset"></p-toggleButton>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 app-ho2-form-label" style="padding-top: 0px;">
                        <label for="description" class="app-ho2-form-label">Allow Create:</label>
                    </div>
                    <div class="col-md-7 floating-labels">
                        <div *ngIf="(isEditMode || isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.createAsset" name="createAsset"></p-toggleButton>
                        </div>
                        <div *ngIf="(!isEditMode && !isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.createAsset" [disabled]="!isEditMode" name="createAsset"></p-toggleButton>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 app-ho2-form-label" style="padding-top: 0px;">
                        <label for="description" class="app-ho2-form-label">Allow Update:</label>
                    </div>
                    <div class="col-md-7 floating-labels">
                        <div *ngIf="(isEditMode || isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.updateAsset" name="updateAsset"></p-toggleButton>
                        </div>
                        <div *ngIf="(!isEditMode && !isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.updateAsset" [disabled]="!isEditMode" name="updateAsset"></p-toggleButton>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-3 app-ho2-form-label" style="padding-top: 0px;">
                        <label for="description" class="app-ho2-form-label">Allow Delete:</label>
                    </div>
                    <div class="col-md-7 floating-labels">
                        <div *ngIf="(isEditMode || isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.deleteAsset" name="deleteAsset"></p-toggleButton>
                        </div>
                        <div *ngIf="(!isEditMode && !isNewPermission)">
                            <p-toggleButton [(ngModel)]="appPermission.deleteAsset" [disabled]="!isEditMode" name="deleteAsset"></p-toggleButton>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





