<div class="container">
    <form class="floating-labels m-t-40">
            <div class="row">
                    <div class="col-md-4" style="padding-left:0px;">
                            <div class="form-group m-b-40">
                                    <input name="PatientSearch" id="idpatientsearch" style="width:100%;"
                                            placeholder="Enter Search Keyword..." class="form-control" type="text"
                                            pInputText size="50" [(ngModel)]="term">
                                    <span class="bar"></span>
                            </div>
                    </div>
                    <div class="col-md-4 col-md-offset-4" style="text-align:left;padding-left:0px;">
                            <div class="form-group">
                                    <select name="activeViewType" class="form-control" [(ngModel)]="activeViewType"
                                            (change)="getpatientView()">
                                            <option *ngFor="let item of viewTypes" [value]="item.value">{{item.label}}</option>
                                    </select>
                            </div>
                    </div>
            </div>
    </form>
    <app-display-list [list]="patients|filter:term" [imguser1]="imguser1" [type]="type">

    </app-display-list>

    <button class="btn btn-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
            (click)="startPatientIntake()" label="Patient InTake" icon="fa-plus" label="Add Employee" pbutton=""
            style="float:left" type="button">
            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-plus"></span>
            <span class="ui-button-text ui-clickable">Patient InTake</span>
    </button>
</div>
