
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Agency Information" [titleClassName]="localstore.getThemeBackground()">
                <ng-template #body>
                    <div class="container">
                        <form novalidate="" #f1="ngForm" (ngSubmit)="f1.form.valid ? saveUpdateCompany(): ''" class="m-t-40 tab-wizard wizard-circle wizard clearfix" role="application" id="formcompmain">
                            <div class="row">
                                <div class="col-md-3 app-ho2-form-label">
                                </div>
                                <div class="col-md-8 app-ho2-edit-right">
                                    <ho2edithelper activeAction="0" (actionSelected)="updateAgencyInfo($event)" [saveStatus]="saveStatus2"></ho2edithelper>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 app-ho2-form-label">
                                    <label for="prefix" class="app-ho2-form-label">Client ID:</label>
                                </div>
                                <div class="col-md-7">
                                    <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.normalizedId }} </p>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3 app-ho2-form-label">
                                    <label class="app-ho2-form-label">Name of Organization:</label>
                                </div>
                                <div class="col-md-7">
                                    <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.name }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 app-ho2-form-label">
                                    <label for="email" class="app-ho2-form-label">Email:</label>
                                </div>
                                <div class="col-md-7 floating-labels">
                                    <div *ngIf="isEditMode">
                                        <input type="text" pInputText class="form-control" name="email" id="email" required [(ngModel)]="companyInfo.email" #email="ngModel">
                                        <span class="bar"></span>
                                        <span *ngIf="f1.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}" aria-hidden="true"></span>
                                        <div *ngIf="(f1.submitted && !email.valid) || (email.invalid && (email.dirty || email.touched)) || (!f1.form.valid && companyInfo.email === undefined) || (!f1.form.valid && companyInfo.email === '')" class="text-danger">
                                            <div class="app-form-validation-error">
                                                Email is required
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!isEditMode">
                                        <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.email }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 app-ho2-form-label">
                                    <label for="phone" class="app-ho2-form-label">Phone No:</label>
                                </div>
                                <div class="col-md-7 floating-labels">
                                    <div *ngIf="isEditMode">
                                        <input type="text" pInputText class="form-control" name="phone" id="phone" required [(ngModel)]="companyInfo.phone" #phone="ngModel">
                                        <span class="bar"></span>
                                        <span *ngIf="f1.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': phone.valid, 'glyphicon-remove' : !phone.valid}" aria-hidden="true"></span>
                                        <div *ngIf="(f1.submitted && !phone.valid) || (phone.invalid && (phone.dirty || phone.touched)) || (!f1.form.valid && companyInfo.phone === undefined) || (!f1.form.valid && companyInfo.phone === '')" class="text-danger">
                                            <div class="app-form-validation-error">
                                                Phone is required
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!isEditMode">
                                        <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.phone }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 app-ho2-form-label">
                                    <label for="url" class="app-ho2-form-label">Website URL:</label>
                                </div>
                                <div class="col-md-7 floating-labels">
                                    <div *ngIf="isEditMode">
                                        <input type="text" pInputText class="form-control" name="url" id="url" required [(ngModel)]="companyInfo.url" #url="ngModel">
                                        <span class="bar"></span>
                                        <span *ngIf="f1.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': phone.valid, 'glyphicon-remove' : !phone.valid}" aria-hidden="true"></span>
                                        <div *ngIf="(f1.submitted && !url.valid) || (url.invalid && (url.dirty || url.touched)) || (!f1.form.valid && companyInfo.url === undefined) || (!f1.form.valid && companyInfo.url === '')" class="text-danger">
                                            <div class="app-form-validation-error">
                                                Website URL: is required
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="!isEditMode">
                                        <p class="col-md-12 app-ho2-mt-label">{{ companyInfo?.url }}</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ho2-accordion>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Locations" [titleClassName]="localstore.getThemeBackground()">
                <ng-template #body>
                    <p-dataTable #dtcomplocations [value]="companyAddresses" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                 [sortField]="sortF" [sortOrder]="sortO" (onSort)="changeSortAddress($event)" selectionMode="single" [(selection)]="selectedAddress"
                                 (onRowSelect)="onRowSelectAddress($event)" dataKey="id"
                                 [loading]="isLoading" loadingIcon="fa-spinner" [responsive]="true" [stacked]="stacked">
                        <p-column class="text-muted" field="address1" header="Address 1" [sortable]="true">
                        </p-column>
                        <p-column field="address2" header="Address 2" [sortable]="true"></p-column>
                        <p-column field="city" header="City" [sortable]="true"></p-column>
                        <p-column field="state" header="State" [sortable]="true">
                        </p-column>
                        <p-column field="zipCode" header="Zip" [sortable]="true">
                        </p-column>
                        <p-column field="isPrimary" header="Corporate HQ" [sortable]="true">
                            <ng-template let-compaddr="rowData" pTemplate="body">
                                {{compaddr.isPrimary? 'Yes': 'No'}}
                            </ng-template>
                        </p-column>
                        <p-footer>
                            <div class="ui-helper-clearfix">
                                <!--<button class="btn btn-success" type="button" pButton icon="fa-plus" style="float:left" (click)="showAddressDialogToAdd()" label="Add Location"></button>-->
                                <button class="btn btn-success" type="button" pButton icon="fa fa-fw fa-plus" style="float:left" (click)="routeAddLocation()" label="Add Location"></button>
                            </div>
                        </p-footer>
                    </p-dataTable>

                </ng-template>
            </ho2-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ho2-accordion titleName="Departments" [titleClassName]="localstore.getThemeBackground()">
                <ng-template #body>
                    <p-dataTable [value]="companyDepartments" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                                 [sortField]="sortF2" [sortOrder]="sortO2" (onSort)="changeSortDept($event)" selectionMode="single" [(selection)]="selectedDepartment"
                                 (onRowSelect)="onRowSelectDept($event)" dataKey="id"
                                 [loading]="isLoading" loadingIcon="fa-spinner" [stacked]="stacked">
                        <p-column field="name" header="Name" [sortable]="true"></p-column>
                        <p-column class="text-muted" field="description" header="Description" [sortable]="true">
                        </p-column>
                        <p-footer>
                            <div class="ui-helper-clearfix" style="width:100%">
                                <button class="btn btn-success" type="button" pButton icon="fa fa-fw fa-plus" style="float:left" (click)="routeAddDept()" label="Add Department"></button>
                            </div>
                        </p-footer>
                    </p-dataTable>

                </ng-template>
            </ho2-accordion>
        </div>
    </div>
</div>

